.img-width {
  width: 31.25rem;
}

.img-width-m {
  width: 18.75rem;
}
.fs-7 {
  font-size: .75rem;
}

.img-height {
  height: 25rem;
}

.img-width-150 {
  width: 8rem; /* 128px */ 
}
.img-width-1500 {
  width: 6rem; /* 128px */ 
}

.hover-poiter:hover {
  cursor: pointer;
}
p {
  margin: 0;
}

.height-100vh {
  height: 100vh;
}
.w-100vw {
  width: 100vw;
}
.color-lightblue {
  background-color: #e0fbff;
}